@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
} 

[class*="__container"] {
	max-width: 1231px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Inter", sans-serif;
}

.page__title {
	font-size: 66px;
	font-weight: 700;
	padding: 20px;
	text-align: center;
	background-color: aqua;
}


/* FACULTY */

.faculty {
	background-color: #412672;
	padding: 61px 0 102px 0;
}

.faculty__title {
	color: #FFF;
	font-size: 38px;
	line-height: normal
}

.faculty__title strong {
	display: block;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 31px;
}

.faculty__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.faculty__card:hover {
	background-color: #FFBE48;
}

.faculty__card {
	background-color: #FFF;
	display: flex;
	padding: 20px;
	width: 387px;
	align-items: flex-start;
	gap: 16px;
	flex-direction: column;
}

.card__image {
	width: 347px;
	height: 266px;
}

.card__title {
	font-size: 22px;
	color: #000;
	font-weight: 600;
}

.card__text {
	font-size: 15px;
	color: #4F4F4F;
	font-weight: 400;
	line-height: 19px;
	flex-grow: 1;
}

.card__link {
	color: #FE3F3F;
}

.card__link:hover {
	text-decoration-line: underline;
}

/* California */

.california {
	padding: 55px 0 72px 0;
}

.california__blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
}

.california__block {
	display: flex;
	width: 518px;
	gap: 20px;
	flex-direction: column;
}

.block__title {
	color: #412672;
	font-size: 34px;
	line-height: normal;
}

.block__title strong {
	display: block;
	font-weight: 700;
	line-height: normal;
}

.block__text {
	color: #412672;
	font-size: 22px;
	line-height: normal;
}

.block__item {
	display: inline-flex;
	color: #4F4F4F;
	font-size: 20px;
	align-items: center;
	gap: 15px;
}

.block__item::before {
	content: "";
	background: url(../img/icon.svg) 0 0 / 100% no-repeat;
	width: 29px;
	height: 29px;
	align-items: flex-start;
	flex-shrink: 0;
}

.block__item:not(:last-child) {
	margin-bottom: 15px;
}

.california__img {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 764px;
	margin-right: -150px;
}


/* Academy */

.academy {
	padding: 70px 0;
	background-color: #412672;
	color: #FFF;
	font-size: 24px;
}

.academy__title {
	text-align: center;
	margin-bottom: 30px;
	line-height: normal;
}

.academy__title strong {
	font-weight: 700;
	line-height: normal;
}

.academy__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.academy__item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.academy__img {
	width: 70px;
	height: 70px;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.academy__text {
	font-size: 15px;
	text-align: center;
	line-height: 24px;
}

.academy__text strong {
	display: block;
	font-size: 24px;
}