* {
    color: blueviolet;
}

#up {
    color: darkslategray;
}

#up + p {
    color: aqua;
}

p {
    color: black;
}

    
[class*="tit"] {
        color: blue;
    }

.list .item {
    color: darkcyan;
}

.title ~ h2 {
        color: green;
    }

.title-list {
    color: red;
}

.title-list ~ h3 {
    color: orange;
}

.title-item {
    color: #4597f7;
}

.title-item + li + li {
    color: limegreen;
}

.item {
    color: olive;
}

.item ~ li {
    color: lime;
}

.title-item ~ li {
    color: #5d5d5d;
}

span {
    color: tomato;
}

a {
    color: fuchsia;
}