html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

a{
	color: inherit;
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

body{
	font-family: "Rethink Sans", serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.3;
	font-weight: 600;
	color: #2B2A29;
}

.container{
	max-width: 1740px;
	padding: 0 10px;
	margin: 0 auto;
}

.header{
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 100vh;
	padding-bottom: 80px;
	background-size: cover;
}

.header__top{
	padding: 70px 0 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
}

.menu__list{
	display: flex;
	color: rgba(10, 80, 122, 1);
	gap: 40px;
}

.header__phone{
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: rgba(10, 80, 122, 1);
	padding: 10px 20px;
	border-radius: 30px;
	color: white;
}

.title-img{
	margin-bottom: 12px;
	width: 100%;
	position: relative;
	z-index: -1;
}

.title-text{
	display: inline-block;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #2B2A29;
	padding: 10px 20px;
	border-radius: 30px;
}

.header__content{
	display: flex;
	justify-content: space-between;
}

.header__info{
	display: flex;
	flex-direction: column;
	gap: 118px;
	margin-top: auto;
}

.header__info-list{
	display: flex;
	gap: 18px 10px;
	flex-wrap: wrap;
	max-width: 487px;
}

.header__info-item{
	padding: 10px 20px;
	color: rgba(10, 80, 122, 1);
	border: 1px solid rgba(10, 80, 122, 1);
	border-radius: 30px;
	font-size: 26px;
	font-weight: 700;
}

.header__social{
	margin-top: auto;
}

.header__social-list, .footer__social-list{
	display: flex;
	gap: 20px;
}

.header__news{
	margin-top: -50px;
}

.header__news-box{
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	border-radius: 10px;
	background-color: rgb(255,255,255,.8);
	margin-bottom: 100px;
}

.header__news-title,
.header__news-time{
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__news-time{
	margin-bottom: 10px;
}

.header__news-link{
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: underline;
	margin-bottom: 30px;
	align-self: flex-start;
}

.header__buttons{
	display: flex;
	gap: 20px;
}

.header__buttons-activities{
	font-size: 32px;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
	text-transform: uppercase;
}

.header__buttons-book,
.activities__buttons-book{
	font-size: 32px;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
	text-transform: uppercase;
	background-color: rgba(43, 42, 41, 1);
	color: #FFFFFF;
}

.header__buttons-activities{
	color: rgba(43, 42, 41, 1);
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(43, 42, 41, 1);
}

@media (max-width: 1920px) {
	.header{
		padding-bottom: 50px;
	}

	.header__top{
		padding-top: 30px;
	}

	.header__news-box{
		margin-bottom: 20px;
}
}

.text {
	max-width: 1075px;
	font-size: 64px;
	font-weight: 800;
	text-transform: uppercase;
	padding: 150px 0;
}

.about {
	margin-bottom: 150px;
}

.about__inner {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.about__content {
	max-width: 560px;
	display: flex;
	flex-direction: column;
}

.about__subtitle {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

.about__title {
	font-size: 64px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.about__list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
}

.about__item {
	font-size: 26px;
	font-weight: 700;
	border: 1px solid var(--blue, rgba(10, 80, 122, 1));
	color: var(--blue, rgba(10, 80, 122, 1));
	padding: 10px 20px;
	border-radius: 30px;
}

.about__text{
	display: flex;
	gap: 20px;
	flex-direction: column;
	margin-top: auto;
}

.about__img {
	position: relative;
}

.about__link {
	position: absolute;
	right: 68px;
	bottom: 46px;
	font-size: 32px;
	font-weight: 800;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 30px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.3);
}

.activities {
	margin-bottom: 100px;
}

.activities__subtitle{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

.activities__info {
	display: flex;
	gap: 20px;
	margin-bottom: 100px;
}

.activities__title {
	font-size: 64px;
	font-weight: 800;
	text-transform: uppercase;
	flex-basis: 50%;
}

.activities__text {
	padding: 12px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	flex-basis: 50%;
}

.activities__text .activities__buttons-book {
	align-self: start;
}

.activities__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.activities__item {
	border: 1px solid #2B2A29;
	border-radius: 50%;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.activities__item h5 {
	font-size: 26px;
	font-weight: 700;
	max-width: 115px;
	text-align: center;
}

.site-images {
	margin-bottom: 150px;
	width: 100%;
}

.review {
	margin-bottom: 150px;
}

.review__top {
	margin-bottom: 100px;
	margin-left: calc(50% + 10px);
}

.review__subtitle {
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 20px;
}

.review__title {
	font-size: 64px;
	font-weight: 800;
	text-transform: uppercase;
}

.review__items {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}

.review__item:nth-child(even){
	margin-top: 100px;
}

.review__item {

}

.review__img {
	margin-bottom: 20px;
	max-width: 100%;
}

.blockquote {
	margin: 0;
}

.blockquote__text {
	margin-bottom: 15px;
}

.blockquote__name {
	display: block;
	margin-bottom: 5px;
	text-align: right;
}

.blockquote__name::before{
	content: '/';
}

.blockquote__time {
	display: block;
	text-align: right;
}

.footer {
	padding: 100px 0;
	background-color: #2B2A29;
	color: #FFFFFF;
}

.footer__inner{
	max-width: 1160px;
	padding: 0 10px;
	margin: 0 auto;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.footer__title {
	font-size: 64px;
	font-weight: 800;
	text-transform: uppercase;
}

.footer__info-list {
	display: flex;
	gap: 68px;
	margin-bottom: 60px;
}

.footer__info-item {
	display: flex;
	flex-direction: column;
	gap: 20px;

}

.footer__info-item dt{
	font-size: 20px;
	font-weight: 700;
}

.footer__info-item dd{
	margin-left: 0;
}

.footer__info-list span{
	display: block;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	align-items: flex-end;
}

.footer__social-list {
}

.footer__social-item {
}

.footer__social-link {
}

.header__social-link {
}

.footer__nav {
	display: flex;
	gap: 40px;
}

.menu__btn {
	display: none;
	width: 50px;
	height: 30px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	position: relative;
	z-index: 1;
}

.menu__btn span{
	width: 100%;
	height:4px;
	background-color: rgba(10, 80, 122, 1);
	transition: background-color .3s;
}

.menu.menu--open .menu__list{
		transform: translateY(0%);
}

.menu.menu--open .menu__btn span {
	background-color: #FFFFFF;
}

@media (max-width: 1500px) {
	.about__img {
		flex-basis: 50%;
	}

	.about__img img {
		width: 100%;
	}
}

@media (max-width: 1280px) {
	.about__title {
		margin-bottom: 20px;
	}

	.about__img {
		align-self: flex-end;
	}

	.about__content {
		flex-basis: 50%;
	}

	.review__top {
		margin-left: 0;
		margin-bottom: 75px;
	}
}

@media (max-width: 992px) {
	.menu__btn {
		display: flex;
	}

	.menu__list{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(10, 80, 122, 1);
		color: #FFFFFF;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-transform: uppercase;
		font-size: 24px;
		transform: translateY(-100%);
		transition: transform .3s;
	}

	.header__news {
		margin-top: 10px;
		margin-bottom: 30px;
		order: -1;
	}

	.header__content {
		flex-direction: column;
	}

	.header__info-list {
		max-width: 100%;
	}

	.header__info {
		gap: 50px;
	}

	.text {
		font-size: 40px;
		padding: 75px 0;
	}

	.about__inner {
		flex-wrap: wrap;
	}

	.about__content {
		flex-basis: 100%;
		max-width: 100%;
	}

	.about__img {
		flex-basis: 100%;
	}

	.about,
	.site-images,
	.activities,
	.review {
		margin-bottom: 75px;
	}

	.activities__info {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}

	.activities__title,
	.activities__text {
		flex-basis: 100%;
	}

	.activities__title,
	.review__title {
		font-size: 44px;
	}

	.review__items {
		grid-template-columns: repeat(2, 1fr);
	}

	.review__item:nth-child(even) {
		margin-top: 0px;
	}

	.review__img {
		width: 100%;
	}
}


@media (max-width: 800px) {
	.activities__list {
		grid-template-columns: repeat(3, 1fr);
	}

	.footer {
		padding: 75px 0;
	}

	.footer__title {
		font-size: 44px;
	}

	.footer__bottom {
		flex-wrap: wrap;
	}

	.footer__info-list {
		gap: 15px;
	}
}

@media (max-width: 570px) {
	.footer__top {
		flex-wrap: wrap-reverse;
		gap: 30px;
		justify-content: center;
	}
	
	.footer__title {
		text-align: center;
	}

	.footer__info-list {
		flex-wrap: wrap;
		gap: 30px;
	}
}

@media (max-width: 480px) {
	.header__buttons-activities, .header__buttons-book {
		font-size: 24px;
		width: 100%;
		text-align: center;
	}

	.header__buttons {
		flex-wrap: wrap;
	}

	.header__info-item, .about__item {
		font-size: 14px;
		padding: 8px 12px;
	}

	.header__info-list {
		gap: 10px;
	}

	.about__title {
		font-size: 44px;
	}

	.activities__title,
	.review__subtitle {
		font-size: 36px;
	}

	.about__subtitle,
	.activities__subtitle,
	.review__subtitle {
		margin-bottom: 10px;
	}

	.activities__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.site-images {
		display: none;
	}

	.review__top {
		margin-bottom: 30px;
	}

	.review__items {
		grid-template-columns: 1fr;
	}

}