@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header__container {
	color: blue;
	background-color: aqua;
	padding: 15px;
	text-align: center;
	size: 24px;
	font-weight: 500;
	margin-bottom: 24px;
}

/* ECOBAZAR */

.ecobazar {
	font-family: "Poppins", sans-serif;
	color: #1A1A1A;
	font-size: 14px;
}

.ecobazar__titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	text-align: center;
	margin-bottom: 36px;
}

.ecobazar__caption {
	color: #00B207;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.28px;
	text-transform: uppercase;
}

.ecobazar__title {
	font-size: 36px;
	font-weight: 600;
	line-height: 43.2px;
}

.ecobazar__cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(248px,1fr));
	gap: 20px;
	margin-bottom: 24px;
}

.banner {
	position: relative;
	aspect-ratio: 248 / 335;
	height: 100%;
   width: 100%;
}

.banner__img {
	width: 100%;
	padding: 1px;
	aspect-ratio: 248 / 335;
}

.banner__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 248 / 335;
}

.banner__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 3;
	top: 24px;
	gap: 16px;
	width: 100%;
}

.banner__heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.banner__title {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.36px;
	text-transform: uppercase;
}

.banner__subtitle {
	color: #00B207;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
}

.banner__button, 
.item-ecobazar__button {
	display: flex;
	background-color: #FFFFFF;
	border-radius: 43px;
	padding: 14px 32px;
	gap: 12px;
	color: #00B207;
	font-weight: 600;
	line-height: 1.2;
	transition: all 0.3s;
}

.banner__button:hover, 
.item-ecobazar__button:hover {
	outline: 1px solid #00B207;
}

.product {
	display: flex;
   flex-direction: column;
	position: relative;
	border: 1px solid #E6E6E6;
	background: #FFF;
}

.product:hover {
	border: 1px solid #2C742F;
	background: #FFF;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.product__image {
	width: 100%;
	padding: 1px;
	aspect-ratio: 246 / 246;
}

.product__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 246 / 246;
}

.product__choice {
   display: inline-flex;
	flex-direction: column;
	position: absolute;
	top: 15px;
	right: 16px;
	z-index: 2;
	gap: 6px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}

.product:hover .product__choice {
	opacity: 1;
	visibility: visible;
}

.product__img {
	width: 40px;
	height: 40px;
	border: 1px solid #F2F2F2;
	background: #FFF;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
	object-fit: contain;
}

.product__img:hover {
	border: 1px solid #00B207;
	background: #00B207 center no-repeat;
}

.product__section {
	display: flex;
	justify-content: space-between;
	padding: 12px 16px 16px 16px;
   flex-grow: 1;
   gap: 10px;
	position: relative;
}

.product__content {
	display: flex;
	flex-direction: column;
}

.product__title {
	color: #4D4D4D;
	font-weight: 400;
	line-height: 1.5;
}

.product:hover .product__title {
	color: #2C742F;
}

.product__price {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 6px;
}

.product__rating {
	display: flex;
	width: 12px;
	height: 12px;
}

.product__bag {
	position: absolute;
	right: 16px;
	top: 26px;
}

.product__bag {
   display: inline-flex;
   align-items: center;
   justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../img/bag-black.svg) #F2F2F2 center no-repeat;
}

.product__bag:hover {
	background: url(../img/bag-white.svg) #00B207 center no-repeat;
}

.product__btn:hover {
	background: url(../img/bag-white.svg) #00B207 center no-repeat;
}

.ecobazar__item {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(312px,1fr));
	gap: 24px;
	margin-bottom: 60px;
}

.item-ecobazar__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 16px;
}

.item-ecobazar__card {
	position: relative;
	display: flex;
	border: 1px solid #E6E6E6;
	background: #FFF;
}

.item-ecobazar__card:not(:last-child) {
	margin-bottom: 16px;
}

.item-ecobazar__card:hover {
	transition: opacity .4s ease-out;
	border: 1px solid var#2C742F;
	background: #FFF;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
} 

.item-ecobazar__image {
	position: relative;
	z-index: 1;
   flex-shrink: 0;
	aspect-ratio: 102 / 102;
	padding: 5px;
}

.item-ecobazar__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;

}
.item-ecobazar__inner {
	display: flex;
	padding: 24px 12px 25px 12px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 1;
	position: relative;
}

.item-ecobazar__content {
	display: flex;
	flex-direction: column;
}

.item-ecobazar__subtitle {
	color: #4D4D4D;
	font-weight: 400;
	line-height: 1.5;
}

.item-ecobazar__section:hover .item-ecobazar__subtitle {
	color: #2C742F;
}

.item-ecobazar__price {
	display: flex;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	gap: 2px;
	opacity: 1;
	visibility: visible;
}

.item-ecobazar__card:hover .item-ecobazar__price {
	opacity: 0;
	visibility: hidden;
}

.item-ecobazar__price span {
	color: #999;
	font-weight: 400;
}

.item-ecobazar__rating {
	display: flex;
	width: 16px;
	height: 16px;
	opacity: 1;
	visibility: visible;
}

.item-ecobazar__card:hover .item-ecobazar__rating {
	opacity: 0;
	visibility: hidden;
}

.item-ecobazar__choice {
	display: flex;
	position: absolute;
	top: 50px;
	z-index: 2;
	gap: 12px;
	opacity: 0;
	visibility: hidden;
}

.item-ecobazar__card:hover .item-ecobazar__choice {
	opacity: 1;
	visibility: visible;
}

.item-ecobazar__btn {
	width: 40px;
	height: 40px;
	border: 1px solid #F2F2F2;
	background: #FFF;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
}

.item-ecobazar__bag, 
.item-ecobazar__heart, 
.item-ecobazar__eye {
	width: 40px;
	height: 40px;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
}

.item-ecobazar__bag {
	background: url(../img/bag-black.svg) #F2F2F2 center no-repeat;
}

.item-ecobazar__bag:hover {
	background: url(../img/bag-white.svg) #00B207 center no-repeat;
}

.item-ecobazar__eye {
	background: url(../img/eye.svg) #F2F2F2 center no-repeat;
}

.item-ecobazar__eye:hover {
	background: url(../img/eye.svg) #00B207 center no-repeat;
}

.item-ecobazar__heart {
	background: url(../img/heart.svg) #F2F2F2 center no-repeat;
}

.item-ecobazar__heart:hover {
	background: url(../img/heart.svg) #00B207 center no-repeat;
}

.item-ecobazar__banner {
	position: relative;
	aspect-ratio: 312 / 420;
	height: 100%;
   width: 100%;
}

.item-ecobazar__img {
	width: 100%;
	padding: 1px;
	aspect-ratio: 312 / 423;
}

.item-ecobazar__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 312 / 423;
}

.item-ecobazar__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 3;
	top: 32px;
	gap: 20px;
	width: 100%;
}

.item-ecobazar__title {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.36px;
	text-transform: uppercase;
}

.item-ecobazar__heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 12px;
	padding: 0 15px;
}

.item-ecobazar_subtitle {
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
}

.item-ecobazar_subtitle span {
	font-weight: 600;
}

@media (any-hover: none), (pointer: coarse) {

   .product__choice {
      opacity: 1;
      visibility: visible;
	}

	.item-ecobazar__choice {
		opacity: 0;
		visibility: hidden;
	}
}

@media (any-hover:hover) {

   .product:hover .product__choice {
      opacity: 1;
      visibility: visible;
   }

	.product:hover {
	border: 1px solid #2C742F;
	background: #FFF;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   }
}

@media (max-width: 981.98px) {
	.ecobazar__title {
	  font-size: 30px;
   }
	.ecobazar__cards {
	  	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	}

	.ecobazar__item {
	  grid-template-columns: repeat(auto-fill, minmax(272px,1fr));
	}
}

@media (max-width: 559.98px) {
	.ecobazar__title {
	  font-size: 26px;
   }
	.ecobazar__cards {
	  	grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
	}
	.ecobazar__item {
	  grid-template-columns: repeat(auto-fill, minmax(222px,1fr));
	}
}

@media (max-width: 359.98px) {
	.ecobazar__title {
	  font-size: 22px;
   }
	.ecobazar__cards {
	  	grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
	}
	.ecobazar__item {
	  grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
	}
}

/* BLOSSOMIA */

.blossomia {
	font-family: "KoPub Batang", serif;
	color: #2C2C2C;
	font-size: 20px;
	font-weight: 400;
	background: #F8F3EC;
}

.blossomia__catalog {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.blossomia__title {
	display: grid;
	grid-column: 2/4;
	color: #000;
	font-size: 60px;
	font-weight: 300;
	padding-top: 52px;
}

.blossomia__aside {
	display: grid;
	align-items: start;
	gap: 14px;
	grid-row: 1 / span 2;
}

.blossomia__product {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.blossomia__name:hover {
	border-bottom: 1px solid;
}

.blossomia__image {
	width: 100%;
	aspect-ratio: 401 / 427;
}

.blossomia__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 401 / 427;
}

.blossomia__content {
	display: flex;
	align-items: flex-start;
   justify-content: space-between;
	gap: 20px;
}

.blossomia__choice {
	display: flex;
	align-items: flex-start;
   justify-content: space-between;
	gap: 20px;
}

.blossomia__heart {
   display: inline-flex;
   align-items: center;
   justify-content: center;
	width: 22px;
	height: 21px;
	background: url(../img/blossomia/like.svg) center no-repeat;
}

.blossomia__cart {
   display: inline-flex;
   align-items: center;
   justify-content: center;
	width: 23px;
	height: 23px;
	background: url(../img/blossomia/cart.svg) center no-repeat;
}

.blossomia__heart:hover, 
.blossomia__cart:hover {
	transform: scale(1.1);
}

.blossomia__price {
	font-family: "Carme", serif;
	color: #4E4E4E;
	font-size: 18px;
}

.blossomia__price-bottom {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.blossomia__link {
    font-family: "KoPubBatang", serif;
    padding: 10px 15px 11px 13px;
    border: 1px solid #DBCCDA;
	 max-width: 203px;
	 margin-bottom: 170px;
}

.blossomia__button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #DBCCBA;
	padding: 9px 30px;
	font-size: 17px;
   line-height: 1.3;
	flex-shrink: 0;
}

.blossomia__button::after {
	content: "";
	width: 23px;
	height: 14px;
	background: url(../img/blossomia/arrow.png) center / 23px 20px no-repeat;
	flex-shrink: 0;
}

.blossomia__button:hover {
	transform: scale(1.1);
	font-weight: 500;
}

.blossomia__column {
	display: grid;
	align-items: start;
	gap: 14px;
}

@media (max-width: 1018.99px) {
	.blossomia__title {
	font-size: 42px;
	padding-top: 46px;
   }
}

@media (max-width: 998.99px) {
	.blossomia__title {
	font-size: 36px;
	padding-top: 36px;
   }

	.blossomia__price {
	font-size: 16px;
   }

   .blossomia__price-bottom {
	gap: 40px;
   }

	.blossomia__button {
	font-size: 14px;
	padding: 7px 20px;
   }

	.blossomia__column {
	gap: 10px;
   }
}

@media (max-width: 839.99px) {
	.blossomia__title {
	grid-column: 1 / 4;
	padding-top: 28px;
   }
   .blossomia__aside {
	grid-row: 2 / span 2;
   }
}

@media (max-width: 689.99px) {
   .blossomia__catalog {
	grid-template-columns: repeat(2, 1fr);
   }
	.blossomia__title {
	grid-column: 1 / 3;
   }
   .blossomia__aside {
	grid-template-columns: repeat(2, 1fr);
   }

}


@media (max-width: 629.99px) {
	.blossomia__title {
	grid-column: span 2 ;
   }
   .blossomia__aside {
	grid-column: span 2;
   }

   .blossomia__link {
	margin-bottom: 20px;
   }
}

@media (max-width: 439.99px) {
	.blossomia__catalog {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
   }

   .blossomia__aside {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: center;
   }  

	.blossomia__price-bottom {
	gap: 20px;
   }

	.blossomia__name {
	font-size: 13px;
	}

	.blossomia__price {
	font-size: 13px;
   }
}