@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
	background-color: bisque;
}

[class*="__container"] {
	margin-bottom: 50px;
	padding-left: 15px;
	padding-right: 15px;
}

.header {
	font-size: 42px;
	font-weight: 700;
	color: cadetblue;
	font-weight: 700px;
	padding: 20px 15px;
	margin-bottom: 10px;
	text-align: center;
}

.block__title {
	color: blueviolet; 
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	padding: 15px;
	margin-bottom: 30px;
	outline: 5px dotted green;
}

.block__content {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	height: 260px;
	border-radius: 25px;
	margin: 0 auto;
	padding: 15px;
	background-color: darkgray;
}

.block__content:not(:last-child) {
	margin-right: 40px;
	margin-bottom: 50px;
}

.block__item {
	padding: 10px;
	width: 260px;
	height: 260px;
	border-radius: 25px;
	background-color: #7a956b;
	font-size: 26px;
	text-align: center;
}

.item-block--translate:hover {
	transform: translate(20px, 20px);
}

.item-block--translateX:hover {
	transform: translateX(-20px);
}

.item-block--scale1:hover {
	transform: scale(0.75);
}

.item-block--scale2:hover {
	transform: scale(0.5, 1.2);
}

.item-block--rotate1:hover {
	transform: rotate(20deg);
}

.item-block--rotate2:hover {
	transform: rotateX(40deg);
}

.item-block--skew:hover {
	transform: skew(20deg, 15deg);
}

.item-block--matrix:hover {
	transform: matrix(0.5, -0.5, -0.8, 1.2, -2, -1);
}

.item-block--translate2D:hover {
	transform: translate(10px, -10px) scale(1) rotate(35deg) skew(-10deg);
}

.item-block--transform:hover {
	transform: rotate(35deg);
	transform-origin: bottom left;
}

.block__content {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	height: 260px;
	border-radius: 25px;
	margin: 0 auto;
	padding: 15px;
	background-color: rgb(225, 246, 88);
	perspective: 300px;
	perspective-origin: center;
}

.block__item3d {
	padding: 10px;
	width: 260px;
	height: 260px;
	border-radius: 25px;
	background-color: #7a956b;
	font-size: 26px;
	text-align: center;
}

.item3d-block--translate3d:hover {
	transform: translate3D(30px, 50px, -40px);
}

.item3d-block--rotate3d:hover {
	transform: rotate3d(50, 200, 40, 50deg);
}

.item3d-block--scale3d:hover {
	transform: scale3D(1.5, 2, 1.5);
}

.item3d-block--rotateY3d:hover {
	transform: rotateY(320deg);
}

.item3d-block--translate3d:hover {
	transform: translate3D(30px, 20px, 15px) scale(1.1) rotate3D(-2, 1.5, 0.75, 300deg);
}



/* Banknote */

.banknote {
	display: inline-block;
}

.banknote__body {
	position: relative;
	perspective: 1000px;
}

.banknote__front, .banknote__back {
	transition: all 0.2s;
}

.banknote__front {
	position: absolute;
	transform: rotateY(0deg);
	top: 0;
	left: 0;
}

.banknote__front {
	backface-visibility: hidden;
	transform: rotateX(0deg);
}

.banknote__body:hover .banknote__back {
	transform: rotateX(0deg);
}

.banknote__body:hover .banknote__front {
	transform: rotateY(0deg);
}



/* Train */

.block__train {
	position: relative;
	width: 1600px;
	padding-top: 100px;
}

.train__body {
	position: relative;
	left: 100px;
	width: 1500px;
	height: 600px;
}

.train__tail {
	display: inline-block;
	width: 300px;
	height: 400px;
	border-right: 30px solid rgb(19, 75, 44);
	border-top: 40px solid rgb(19, 75, 44);
	border-left: 40px solid rgb(19, 75, 44);
	border-bottom: 160px solid rgb(19, 75, 44);
	border-top-left-radius: 150px;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-bottom-left-radius: 20px;
	background-color: aliceblue;
	margin-right: -4px;
}

.train__headlight--red {
	position: absolute;
	top: 300px;
	left: -25px;
	width: 25px;
	height: 50px;
	background-color: red;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid black;
}

.train__middle{
	display: inline-block;
	width: 300px;
	height: 400px;
	border-right: 30px solid rgb(19, 75, 44);
	border-top: 40px solid rgb(19, 75, 44);
	border-left: 40px solid rgb(19, 75, 44);
	border-bottom: 160px solid rgb(19, 75, 44);
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-bottom-left-radius: 80px;
	background-color: aliceblue;
	margin-right: -4px;
}

.train__head {
	display: inline-block;
	width: 500px;
	height: 400px;
	border-right: 30px solid rgb(19, 75, 44);
	border-top: 40px solid rgb(19, 75, 44);
	border-left: 240px solid rgb(19, 75, 44);
	border-bottom: 160px solid rgb(19, 75, 44);
	border-top-right-radius: 300px;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 20px;
	background-color: aliceblue;
}

.train__door {
	position: relative;
	top: 120px;
	right: 180px;
	width: 100px;
	height: 200px;
	background-color: rgb(34, 190, 193);
	border-radius: 10px;
	border: 1px solid black;
}

.train__handle {
   width: 20px;
   height: 20px;
	border-radius: 50%;
	background-color: red;
	transform: translate(10px,80px);
	border: 1px solid black;
}

.train__headlight--yellow {
	position: absolute;
	top: 280px;
	left: 1400px;
	width: 20px;
	height: 70px;
	background-color: yellow;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid black;
}

.whell--tail {
	position: absolute;
	top: 320px;
	left: 70px;
}

.whell--middle {
	position: absolute;
	top: 320px;
	left: 380px;
}

.whell--middle:first-child {
	left: 680px;
	bottom: 0;
}

.train__whell {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: rgb(218, 208, 208);
	border: 15px dashed #000;
}

.train__whell::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #000;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.whell--head {
	position: absolute;
	top: 320px;
	left: 1130px;
}