@import url(reset.css);

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.page {
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

.section-1 {
	background-color: #412672;
	padding-top: 61px;
	padding-bottom: 102px;
}

.container {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.business-title {
	color: #FFFFFF;
	font-size: 38px;
	margin-bottom: 31px;
	line-height: 1.2;
	font-weight: 400;
}

.business-items {
	font-size: 0;
	margin-left: -20px;
	margin-right: -20px;
} 

.item {
	max-width: 347px;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

.content {
	background-color: #FFFFFF;
	padding: 20px;
	min-height: 436px;
	font-size: 15px;
}

.img {
	margin-bottom: 16px;
}

.image {
	min-height: 266px;
	width: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

.card-title {
	color: #000000;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 16px;
}

.card-subtitle {
	color: #4F4F4F;
	min-height: 76px;
	margin-bottom: 16px;
}

.link {
	color: #FE3F3F;
}

.card-title:hover {
	text-decoration: underline;
}

.link:hover {
	text-decoration: underline;
}

.content:hover {
	background-color: #FFBE48;
}
 
.section-2 {
	background-color: #FFFFFF;
	padding-top: 153px;
	padding-bottom: 139px;
}

.california-container {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.california-content {
	max-width: 518px;
	margin: 0 auto;
}

.california-title {
	color: #412672;
	font-size: 34px;
	margin-bottom: 20px;
	font-weight: 400;
}

.california-content>p {
	color: #412672;
	font-size: 22px;
	margin-bottom: 20px;
}

.california-items {
	color: #4F4F4F;
	font-size: 20px;
}

.education:not(:last-child) {
	margin-bottom: 21px;
}

.education::before {
width: 35px;
height: 29px;
background: url("../img/icon.svg") 0 50% no-repeat;
content: "";
display: inline-block;
padding-right: 15px;
vertical-align: middle;
}

.section-3 {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 500px;
}

.game-container {
max-width: 1400px;
width: 100%;
margin: 0 auto;
padding: 0 15px;
}

h3 {
	font-size: 34px;
	color: #FE3F3F;
	font-weight: 400;
}

.blok {
	width: 900px;
	margin: 0;
}

.blok {
	background-color:red;
	font-size: 20px;
	width: 120px;
	height: 50px;
	font-weight: 700;
	text-align: center;
	padding-top: 15px;
	border: dashed;
}

.blok_inner_1 {
	background-color:#FFBE48;
	width: 250px;
	height: 20px;
   margin-top: -20px;
	text-align: center;
	margin-left: 123px;
	visibility: hidden;
}

.blok_inner_2 {
	background-color:#FFBE48;
	width: 30px;
	height: 30px;
	margin-top: -5px;
	text-align: center;
	margin-left: 220px;
	visibility: hidden;
}

.blok_inner_3 {
	background-color: #FFBE48;
	width: 140px;
	height: 20px;
	margin-top: -15px;
	margin-left: 25px;
	visibility: hidden;
}

.blok_inner_4 {
	background-color: #FFBE48;
	width: 20px;
	height: 85px;
	margin-top: -15px;
	margin-left: 120px;
	visibility: hidden;
}

.blok_inner_5 {
	background-color: #FFBE48;
	width: 200px;
	height: 30px;
	margin-top: 30px;
	margin-left: 20px;
	visibility: hidden;
}

.blok_end {
	background-color: green;
	width: 200px;
	height: 50px;
	margin-top: -25px;
	margin-left: 200px;
	visibility: hidden;
	padding-top: 20px;
	border: double;
}

.block_last {
	background: url(../img/man.svg);
	width: 200px;
	height: 200px;
	margin-top: -30px;
	margin-left: 400px;
	/* visibility: hidden; */
}

.blok:hover .blok_inner_1 {
	visibility: visible;
}

.blok_inner_1:hover .blok_inner_2 {
	visibility: visible;
}

.blok_inner_2:hover .blok_inner_3 {
	visibility: visible;
}

.blok_inner_3:hover .blok_inner_4 {
	visibility: visible;
}

.blok_inner_4:hover .blok_inner_5 {
	visibility: visible;
}

.blok_inner_5:hover .blok_end {
	visibility: visible;
}

.blok_end:hover {
	text-decoration: underline;
}

.blok_end:hover .blok_last {
	visibility: visible;
}
