@font-face {
	font-family: "Cristina";
	src: url("../fonts/Cristina.woff") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cristina";
	src: url("../fonts/Cristina.woff") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}